*{
    margin: 0;
    padding: 0;
}

html, body{height: 100%;}

.content{
    transition: 1s;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -ms-transition: 1s;
    -o-transition: 1s;
}

.bgimg{
    height: 100%;
    background-image: url('assets/programming.jpg');
    background-position: center;
    background-size: cover;
    position: relative;
    color: white;
}

.topleft{
    letter-spacing: 2px;
    font-family: 'Playfair Display', cursive;
    font-size: 1.5rem;
    padding: 20px 10px;
}

.center{
    position: absolute;
    width: 80%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-size: 2.5rem;
}

.center img {
  margin-bottom: 30px;
}

.bottom{
    position: absolute;
    bottom: 0;
    font-family: 'Playfair Display', cursive;
    width: 100%;
    text-align: center;
    max-width: 100%;
    padding: 20px 0;
    font-size: 1.1rem;
}

#content{
    opacity: 0;
}

a{
    color: #5c9dd3;
    text-decoration: none;
}

.center a:hover{
    color: white;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}

.center hr{
    margin: 10px auto;
    width: 90%;
}

.bottom a:hover{
    color: white;
    transition: 0.25s;
    -webkit-transition: 0.25s;
    -moz-transition: 0.25s;
    -ms-transition: 0.25s;
    -o-transition: 0.25s;
}